body {
  width:1000px;
  font-family: sans-serif;
  margin:auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background: rgb(180, 232, 236);
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left:10px;
}

#perevod {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

p, label{
  font-size: 25px;
}

